# Git and IDE files
.git
.gitignore
.idea
.vscode

# Dependencies
node_modules

# Build output
dist
build

# Local development files
.env
.env.*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db
