services:
  server:
    build:
      context: ./server
    ports:
      - '8080:8080'
    env_file:
      - ./.env
    restart: unless-stopped
    container_name: project-server

  client:
    build:
      context: ./client
    ports:
      - '3000:80'
    depends_on:
      - server
    restart: unless-stopped
    container_name: project-client
